<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>积分+订单</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="head">
        <div class="image">
            <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt=""/>
        </div>
        <div class="right">
            <p class="prompt">我的积分</p>
            <p class="number">2000</p>
        </div>
    </div>
    <div class="nav">
        <div class="nav-item active">
            <i class="nav-icon jfmx"></i>
            <span>积分明细</span>
            <i class="nav-active-icon"></i>
        </div>
        <div class="nav-item">
            <i class="nav-icon ddxx"></i>
            <span>订单信息</span>
            <i class="nav-active-icon"></i>
        </div>
    </div>
    <div class="main">
        <dl class="inner ">
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dt>今天</dt>
            <dd>
                <i class="ks"></i>
                <span class="label">考试赢积分</span>
                <span class="value">+5</span>
            </dd>
            <dd>
                <i class="px"></i>
                <span class="label">培训赢积分</span>
                <span class="value">+5</span>
            </dd>
        </dl>
        <ul class="inner hidden">
            <li class="dd-list-item after">
                <div class="top">
                    <span class="label">2019-12-12</span>
                    <div class="before">
                        <span>处理中</span>
                    </div>
                    <div class="after">
                        <a href="javascript:;" class="link">查看物流</a>
                        <span>已发货</span>
                    </div>
                </div>
                <ul class="con">
                    <li>
                        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="">
                        <div class="info">
                            <div class="prompt">
                                <span>飞鸽剃须刀</span>
                                <span class="color">450积分</span>
                            </div>
                            <p class="number">x1</p>
                        </div>
                    </li>
                    <li>
                        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="">
                        <div class="info">
                            <div class="prompt">
                                <span>飞鸽剃须刀</span>
                                <span class="color">450积分</span>
                            </div>
                            <p class="number">x1</p>
                        </div>
                    </li>
                </ul>
                <div class="bottom">
                    <span>共1件 合计：450积分+2枚勋章</span>
                </div>
            </li>
            <li class="dd-list-item before">
                <div class="top">
                    <span class="label">2019-12-12</span>
                    <div class="before">
                        <span>处理中</span>
                    </div>
                    <div class="after">
                        <a href="javascript:;" class="link">查看物流</a>
                        <span>已发货</span>
                    </div>
                </div>
                <ul class="con">
                    <li>
                        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="">
                        <div class="info">
                            <div class="prompt">
                                <span>飞鸽剃须刀</span>
                                <span class="color">450积分</span>
                            </div>
                            <p class="number">x1</p>
                        </div>
                    </li>
                    <li>
                        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="">
                        <div class="info">
                            <div class="prompt">
                                <span>飞鸽剃须刀</span>
                                <span class="color">450积分</span>
                            </div>
                            <p class="number">x1</p>
                        </div>
                    </li>
                </ul>
                <div class="bottom">
                    <span>共1件 合计：450积分+2枚勋章</span>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>

