@import "../../assets/scss/_define";
@import "../../assets/scss/common";


%bg1{
    background: url("../../assets/images/css/icon.png") no-repeat;
    background-size: j(1000);
}

html,
body {
    @extend %pr;
    @extend %h100;
    @extend %oh;
    background: url("../../assets/images/css/bg.png") repeat;
}


.head{
    @extend %df;
    @extend %aic;
    padding: 0 j(40) 0 j(100);
    height: j(307);
    background: url("../../assets/images/css/header-bg-1.jpg") center no-repeat;
    background-size: contain;
    .prompt{
        @extend %oh;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: j(25);
        color: #fff;
        height: j(40);
        line-height: j(40);
    }
}
.image{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(170);
    height: j(170);
    border-radius: 50%;
    background-color: #999999;
    img{
        @extend %db;
        width: j(165);
        height: j(165);
        border-radius: 50%;
    }
}

.right{
    @extend %df1;
    @extend %tar;
    padding-top: j(30);
    .number{
        @extend %fwb;
        @extend %oh;
        color: #fff;
        font-size: j(90);
        line-height: j(110);
        white-space: nowrap;
        text-overflow: ellipsis;
        height: j(110);
    }
}
.details-link{
    @extend %bg1;
    @extend %dib;
    background-position: 0 j(-98);
    width: j(171);
    height: j(52);
}

.nav{
    @extend %pr;
    @extend %df;
    @extend %aic;
    z-index: 1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-item{
    @extend %cp;
    @extend %pr;
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(90);
    &.active{
        .nav-active-icon{
            @extend %db;
        }
        span{
            color: #24833d;
        }
    }
    span{
        color: #7d7d7d;
        font-size: j(30);
        margin-right: j(10);
    }
    &:before{
        @extend %pa;
        @extend %r0;
        top: j(10);
        content: '';
        width: 1px;
        height: j(70);
        background-color: #dedede;
    }
    &:last-child{
        &:before{
            @extend %dn;
        }
    }
}
.nav-active-icon{
    @extend %dn;
    @extend %bg1;
    width: j(13);
    height: j(6);
    background-position: j(-95) j(-327);
}
.nav-icon{
    @extend %bg1;
    @extend %dib;
    margin-right: j(10);
    width: j(35);
    height: j(34);
    &.jfmx{
        background-position: j(-95) j(-276);
    }
    &.ddxx{
        background-position: j(-5) j(-327);
    }
}
.main{
    @extend %pa;
    @extend %w100;
    @extend %l0;
    @extend %b0;
    @extend %oh;
    top: j(400);
}
.section{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    overflow-y: auto;
}
.jf-list{
    padding-top: j(10);
    dt{
        font-size: j(30);
        color: #000;
        padding-left: j(50);
        height: j(74);
        line-height: j(74);
    }
    dd{
        @extend %df;
        @extend %aic;
        padding: 0 j(50);
        height: j(127);
        margin-bottom: j(10);
        background-color: #fff;
        font-size: j(30);
        color: #000;
    }
    i{
        @extend %bg1;
        width: j(52);
        height: j(52);
        margin-right: j(20);
        &.ks{
            background-position: j(-263) 0;
        }
        &.px{
            background-position: j(-338) 0;
        }
    }
    .label{
        @extend %df1;
    }
    .value{
        font-size: j(53);
        color: #24833d;
    }
}

.dd-list{
    .dd-list-item{
        @extend %bsb;
        padding: 0 j(20);
        border: 1px solid #c9f1d8;
        border-radius: j(10);
        margin: j(20) auto;
        width: j(800);
        background-color: #fff;
    }
    .top{
        @extend %df;
        @extend %jcs;
        @extend %aic;
        height: j(65);
        border-bottom: 1px solid #dedede;
        span{
            color: #7d7d7d;
            font-size: j(24);
        }
    }
    .con{
        li{
            @extend %df;
            @extend %aic;
            font-size: j(25);
            padding: j(10) 0;
            line-height: 1.5;
            border-bottom: 1px solid #dedede;
        }
        img{
            width: j(150);
            height: j(150);
            margin-right: j(20);
        }
    }
    .info{
        @extend %df1;
        height: j(120);
    }
    .prompt{
        @extend %df;
        @extend %jcs;
    }
    .color{
        color: #d9b06b;
    }
    .number{
        @extend %tar;
    }
    .bottom{
        @extend %tar;
        line-height: j(70);
        height: j(70);
    }
}
