@import "../../assets/scss/_define";
@import "../../assets/scss/common";


%bg1{
    background: url("../../assets/images/css/icon.png") no-repeat;
    background-size: j(1000);
}

html,
body {
    @extend %pr;
    @extend %h100;
    @extend %w100;
    overflow-x: hidden;
    background: url("../../assets/images/css/bg.png") repeat;
}


.head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(132);
    background: url("../../assets/images/css/header-bg-2.jpg") center no-repeat;
    background-size: 100%;
    h1{
        @extend %fwn;
        color: #fff;
        font-size: j(47);
    }
}
.section{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(800);
    height: j(490);
    border-radius: j(10);
    background-color: #fff;
    border: 1px solid #f5e1b6;
    margin: j(23) auto;
    img{
        @extend %db;
        width: j(735);
        height: j(440);
    }
}
.name{
    @extend %tac;
    border-top: 1px solid #ddd;
    color: #7d7d7d;
    font-size: j(40);
    height: j(70);
    line-height: j(70);
}
.button{
    @extend %df;
    @extend %jcc;
    @extend %aic;
    @extend %cp;
    margin: j(20) auto;
    width: j(794);
    height: j(94);
    background-color: #268a47;
    border-radius: j(10);
    i{
        @extend %bg1;
        width: j(40);
        height: j(40);
        background-position: 0 j(-370);
        margin-right: j(10);
    }
    span{
        font-size: j(35);
        color: #fff;
    }
}
