<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>信息确认</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="head">
        <h1>信息确认</h1>
    </div>

    <ul class="main">

    </ul>
    <div class="button">
        <span>确　认</span>
    </div>
</body>
</html>

