<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>礼品信息</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="head">
        <h1>礼品信息</h1>
    </div>
    <div class="section">
        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="" class="image">
    </div>
    <p class="name">小米空气净化器</p>
    <div class="button">
        <i></i>
        <span>1000积分兑换</span>
    </div>
</body>
</html>

