<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>开店宝官方服务号上线</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="head"></div>
    <div class="main">
        <p class="prompt">* 赶快关注开店宝官方服务号，掌握一手资讯</p>
        <ul class="con">
            <li>
                <div class="label">
                    <i class="icon-1"></i>
                    <span>用户绑定</span>
                </div>
                <div class="value">
                    <p>一键绑定，时时同步接收APP推送信息；</p>
                </div>
            </li>
            <li>
                <div class="label">
                    <i class="icon-2"></i>
                    <span>短信推送</span>
                </div>
                <div class="value">
                    <p>微信同步接收APP推送的验证码、<br>
                        交易提醒等内容；</p>
                </div>
            </li>
            <li>
                <div class="label">
                    <i class="icon-3"></i>
                    <span>APP下载</span>
                </div>
                <div class="value">
                    <p>开店宝旗下点刷MPOS、<br>
                        即付宝等众多品牌可直接下载；</p>
                </div>
            </li>
            <li>
                <div class="label">
                    <i class="icon-4"></i>
                    <span>公司介绍</span>
                </div>
                <div class="value">
                    <p>走近我们，了解我们，携手我们；</p>
                </div>
            </li>
            <li>
                <div class="label">
                    <i class="icon-5"></i>
                    <span>在线客服</span>
                </div>
                <div class="value">
                    <p>7*13小时在线客服，解疑答惑，助你无忧；</p>
                </div>
            </li>
            <li>
                <div class="label">
                    <i class="icon-5"></i>
                    <span>交易查询</span>
                </div>
                <div class="value">
                    <p>支持手刷APP交易自主查询，<br>
                        交易内容一目了然。</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="foot">
        <img src="../../assets/images/html/code.png" alt="">
        <p>扫描二维码  关注微信公众号</p>
        <p>点击<span>个人服务 </span>进行用户绑定</p>
    </div>
</body>
</html>

