@import "../../../../assets/scss/com20191211";


html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}
html{
    background: url("../../../../assets/images/css/20191211-vm-b.jpg") repeat-y center;
}

%icon{
    background: url("../../../../assets/images/css/20191211-e-b.png") no-repeat;
    background-size: f(820) f(1932);
}
.entry-section{
    @extend %w100;
    @extend %pr;
    @extend %oh;
    padding: f(50) 0;
    &:after{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        content: '';
        width: f(183);
        height: f(73);
        background: url("../../../../assets/images/css/20191211-sa-he-1.png") center no-repeat;
        background-size: contain;
    }
}
.entry-item{
    @extend %db;
    @extend %cp;
    @extend %oh;
    @extend %icon;
    margin: f(20) auto;
    width: f(820);
    height: f(230);
    &.entry-1{
        background-position: 0 f(-10);
    }
    &.entry-2{
        background-position: 0 f(-250);
    }
    &.entry-3{
        background-position: 0 f(-490);
    }
    &.entry-4{
        background-position: 0 f(-730);
    }
    &.entry-5{
        background-position: 0 f(-970);
    }
    &.entry-6{
        background-position: 0 f(-1210);
    }
    &.entry-7{
        background-position: 0 f(-1450);
    }
    &.entry-8{
        background-position: 0 f(-1690);
    }
}
