@import "../../../../assets/scss/com20191211";

html,
body {
    @extend %pr;
    @extend %w100;
}

.header-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %oh;
    height: f(520);
    background-color: #06974a;
}
.header-title{
    @extend %cfff;
    @extend %fwb;
    margin-top: f(80);
    letter-spacing: f(10);
    font-size: f(60);
}
.header-avatar{
    @extend %bsb;
    margin-top: f(20);
    width: f(160);
    height: f(160);
    border: 1px #ddd solid;
    border-radius: 50%;
}
.header-info{
    @extend %df;
    @extend %w100;
    @extend %aic;
    @extend %cfff;
    @extend %bsb;
    padding: 0 f(100);
    margin-top: f(20);
    p{
        @extend %df1;
        @extend %jcc;
        @extend %aic;
        @extend %df;
    }
    i{
        margin-right: f(20);
    }
    .user-icon{
        width: f(39);
        height: f(47);
        background: url("../../../../assets/images/css/20191211-mtc-user.png") center no-repeat;
        background-size: contain;
    }
    .tel-icon{
        width: f(53);
        height: f(48);
        background: url("../../../../assets/images/css/20191211-mtc-tel.png") center no-repeat;
        background-size: contain;
    }
}
.header-link{
    @extend %pa;
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    right: f(40);
    top: f(200);
    width: f(225);
    height: f(65);
    background: url("../../../../assets/images/css/20191211-mtc-link.png") center no-repeat;
    background-size: contain;
}
.header-help-link{
    @extend %cfff;
    @extend %pa;
    @extend %cp;
    @extend %tac;
    @extend %df;
    @extend %aic;
    @extend %fwb;
    right: f(60);
    top: f(280);
    font-size: f(32);
    border-bottom: 1px solid #fff;
    i{
        @extend %dib;
        margin-left: f(8);
        width: f(40);
        height: f(40);
        background: url("../../../../assets/images/css/20191211-help-fff-icon.png") center no-repeat;
        background-size: contain;
    }
}


.section{
    @extend %boxs;
    @extend %bsb;
    border-radius: f(20);
    margin: f(40) auto;
    width: f(1055);
    padding: 0 f(30);
}
.menu-ul{
    @extend %df;
    @extend %fww;
    padding: f(50) 0;
}
.menu-item{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    width: 33.3%;
    line-height: 1.5;
    height: f(350);
    i{
        width: f(125);
        height: f(125);
        background-color: red;
    }
    &:nth-child(1) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-1.png") center no-repeat;
            background-size: auto f(100);
        }
    }
    &:nth-child(2) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-2.png") center no-repeat;
            background-size: auto f(123);
        }
    }
    &:nth-child(3) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-3.png") center no-repeat;
            background-size: auto f(109);
        }
    }
    &:nth-child(4) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-4.png") center no-repeat;
            background-size: auto f(97);
        }
    }
    &:nth-child(5) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-5.png") center no-repeat;
            background-size: auto f(98);
        }
    }
    &:nth-child(6) {
        i{
            background: url("../../../../assets/images/css/20191211-vm-m-6.png") center no-repeat;
            background-size: auto f(84);
        }
    }
    h3{
        @extend %c3;
        @extend %fwn;
        margin-top: f(20);
        font-size: f(42);
    }
    p{
        font-size: f(36);
        color: #06974a;
    }
    strong{
        color: red;
    }
}


.entry-section{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fww;
    width: f(1055);
    margin: f(100) auto;
}
.entry-item{
    @extend %cp;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: 33.33%;
    height: f(300);
    border-top: 1px #eee solid;
    border-right: 1px #eee solid;
    &:nth-child(3n){
        border-right: none;
    }
    &:nth-child(1) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-e-1.png") center no-repeat;
        background-size: auto f(198);
    }
    &:nth-child(2) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-e-2.png") center no-repeat;
        background-size: auto f(197);
    }
    &:nth-child(3) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-e-3.png") center no-repeat;
        background-size: auto f(187);
    }
    &:nth-child(4) {
        background: url("../../../../assets/images/css/20191211-vm-e-4.png") center no-repeat;
        background-size: auto f(184);
    }
    &:nth-child(5) {
        background: url("../../../../assets/images/css/20191211-vm-e-5.png") center no-repeat;
        background-size: auto f(170);
    }
    &:nth-child(6) {
        background: url("../../../../assets/images/css/20191211-vm-e-6.png") center no-repeat;
        background-size: auto f(178);
    }
}

.advert-section{
    width: f(1055);
    margin: f(30) auto;
    img{
        @extend %w100;
        height: auto;
    }
}
