<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>油品推荐</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header-section">
        <img src="../../../assets/images/html/head-0524.jpg"/>
        <div class="menu-button"></div>
    </div>
    <ul class="container">
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-jh.png" alt="">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-ch.png" alt="">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-jjh.png" alt="">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-fsyp.png" alt="">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-hypx.png" alt="">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="../../../assets/images/html/v0822-yptjzd.png" alt="">
            </a>
        </li>
    </ul>
    <div class="footer">
        <div class="button">
            <i></i>
            <span>视频素材下载</span>
        </div>
    </div>
    <div class="popup-warp" style="display: none">
        <div class="popup-inner">
            <i class="popup-close"></i>
            <i class="popup-icon"></i>
            <p class="popup-prompt">长按复制以下网盘下载链接</p>
            <p class="popup-prompt">然后再电脑浏览器打开链接下载：</p>
            <p class="popup-text">http://www.baidu.com/xxxxx <br> 提取码：21xs</p>
        </div>
    </div>
</body>
</html>

