@import "../../../../assets/scss/com20191211";

html,
body {
    @extend %pr;
    @extend %w100;
}

.header-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %oh;
    height: f(520);
    background-color: #06974a;
}
.header-title{
    @extend %cfff;
    @extend %fwb;
    margin-top: f(80);
    letter-spacing: f(10);
    font-size: f(60);
}
.header-avatar{
    @extend %bsb;
    margin-top: f(20);
    width: f(160);
    height: f(160);
    border: 1px #ddd solid;
    border-radius: 50%;
}
.header-info{
    @extend %df;
    @extend %w100;
    @extend %aic;
    @extend %cfff;
    @extend %bsb;
    padding: 0 f(100);
    margin-top: f(20);
    p{
        @extend %df1;
        @extend %jcc;
        @extend %aic;
        @extend %df;
    }
    i{
        margin-right: f(20);
    }
    .user-icon{
        width: f(39);
        height: f(47);
        background: url("../../../../assets/images/css/20191211-mtc-user.png") center no-repeat;
        background-size: contain;
    }
    .tel-icon{
        width: f(53);
        height: f(48);
        background: url("../../../../assets/images/css/20191211-mtc-tel.png") center no-repeat;
        background-size: contain;
    }
}
.header-link{
    @extend %pa;
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    right: f(40);
    top: f(200);
    width: f(225);
    height: f(65);
    background: url("../../../../assets/images/css/20191211-mtc-link.png") center no-repeat;
    background-size: contain;
}




.section{
    @extend %boxs;
    @extend %bsb;
    border-radius: f(20);
    margin: f(40) auto;
    width: f(1055);
    padding: 0 f(30);
    &.data-section{
        i{
            background: url("../../../../assets/images/css/20191211-mtc-zl.png") center no-repeat;
            width: f(68);
            height: f(58);
            background-size: contain;
        }
    }
    &.train-section{
        i{
            background: url("../../../../assets/images/css/20191211-mtc-sj.png") center no-repeat;
            width: f(69);
            height: f(75);
            background-size: contain;
        }
    }
    &.integral-section{
        i{
            background: url("../../../../assets/images/css/20191211-mtc-jf.png") center no-repeat;
            width: f(66);
            height: f(67);
            background-size: contain;
        }
    }
}
.section-title{
    @extend %df;
    @extend %aic;
    @extend %c3;
    font-size: f(42);
    height: f(120);
    i{
        margin-left: f(10);
        width: f(50);
        height: f(50);
    }
}
.section-ul{
    @extend %df;
    @extend %fww;
    li{
        @extend %df;
        @extend %aic;
        @extend %jcc;
        @extend %fdc;
        @extend %bsb;
        width: 33.33%;
        height: f(200);
        border-top: 1px #eee solid;
        border-right: 1px #eee solid;
        &:nth-child(3n){
            border-right: none;
        }
    }
    .ul-value{
        @extend %fwb;
        font-size: f(42);
        color: #06974a;
    }
    .ul-label{
        @extend %c3;
        font-size: f(36);
    }
    .color-red{
        color: red;
    }
}
.section-info{
    @extend %df;
    @extend %aic;
    border-top: 1px #eee solid;
    padding: f(30) 0;

}
.section-info-con{
    @extend %df1;
    font-size: f(32);
    line-height: 1.5;
    p{
        @extend %df;
        @extend %aic;
        @extend %c3;
    }
    strong{
        color: red;
        font-size: f(42);
    }
}
.section-button{
    @extend %df;
    @extend %cfff;
    @extend %fwb;
    @extend %cp;
    @extend %aic;
    @extend %jcc;
    @extend %boxs;
    font-size: f(36);
    width: f(300);
    height: f(80);
    border-radius: f(40);
    background-color: #06974a;
}

.entry-section{
    @extend %df;
    @extend %aic;
    //@extend %jcc;
    @extend %fww;
    width: f(1055);
    margin: f(100) auto;
}
.entry-item{
    //@extend %cp;
    //@extend %df;
    //@extend %fdc;
    //@extend %df1;
    //@extend %aic;
    //@extend %jcc;
    //height: f(200);
    //&:nth-child(1) {
    //    background: url("../../../../assets/images/css/20191211-entry-1.png") center no-repeat;
    //    background-size: contain;
    //}
    //&:nth-child(2) {
    //    background: url("../../../../assets/images/css/20191211-entry-2.png") center no-repeat;
    //    background-size: contain;
    //}
    //&:nth-child(3) {
    //    background: url("../../../../assets/images/css/20191211-entry-3.png") center no-repeat;
    //    background-size: contain;
    //}
    //&:nth-child(4) {
    //    background: url("../../../../assets/images/css/20191211-entry-4.png") center no-repeat;
    //    background-size: contain;
    //}
    @extend %cp;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: 33.33%;
    height: f(300);
    border-top: 1px #eee solid;
    border-right: 1px #eee solid;
    &:nth-child(3n){
        border-right: none;
    }
    &:nth-child(1) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-e-1.png") center no-repeat;
        background-size: auto f(198);
    }
    &:nth-child(2) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-e-2.png") center no-repeat;
        background-size: auto f(197);
    }
    &:nth-child(3) {
        border-top: none;
        background: url("../../../../assets/images/css/20191211-vm-jxz.jpg") center no-repeat;
        background-size: auto f(167);
    }
    &:nth-child(4) {
        background: url("../../../../assets/images/css/20191211-vm-e-3.png") center no-repeat;
        background-size: auto f(187);
    }
    &:nth-child(5) {
        background: url("../../../../assets/images/css/20191211-vm-e-5.png") center no-repeat;
        background-size: auto f(170);
    }
    &:nth-child(6) {
        background: url("../../../../assets/images/css/20191211-vm-e-6.png") center no-repeat;
        background-size: auto f(178);
    }
    &:nth-child(7) {
        background: url("../../../../assets/images/css/20191211-vm-e-4.png") center no-repeat;
        background-size: auto f(184);
    }
    &:nth-child(8) {
        background: url("../../../../assets/images/css/20191211-vm-zbkt.jpg") center no-repeat;
        background-size: auto f(167);
    }
    &:nth-child(9) {
        background: url("../../../../assets/images/css/20210731-kpl-hdjl.png") center no-repeat;
        background-size: auto f(167);
    }
    &.null{
        cursor: default;
    }
}


.advert-section{
    width: f(1055);
    margin: f(30) auto;
    img{
        @extend %w100;
        height: auto;
    }
}
