@import "../../../assets/scss/define";
@import "../../../assets/scss/reset";
input::-webkit-input-placeholder {
    color: #fff;
}
html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}
html{
    background: url("../../../assets/images/css/bg-0524.jpg") repeat-y center;
}
body{
    //background: url("../../../assets/images/css/zcye-bg2.png") right bottom no-repeat;
    //background-size: f(828) auto;
}
.head{
    @extend %pr;
    @extend %db;
    @extend %w100;
    height: auto;
    z-index: 9;
}
.main{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    margin: f(-80) auto 0;
    width: f(883);
    height: f(1516);
    background: url("../../../assets/images/css/zcym-bg-0524.jpg") center no-repeat;
    background-size: contain;
}
.bar{
    width: f(725);
    height: 1px;
    background-color: #fff;
    margin: f(25) 0;
}
.form{
    @extend %w100;
    @extend %df;
    @extend %oh;
    @extend %aic;
    @extend %fdc;
}
.form-item{
    @extend %df;
    @extend %aic;
    margin-top: f(40);
    width: f(725);
    p{
        font-size: f(26);
        color: #e40521;
    }
    .null{
        width: j(30);
    }
    &.form-item-p{
        margin-top: f(20);
    }
    &.form-item-null{
        margin-top: 0;
    }
}
.input-box{
    @extend %df1;
    height: f(140);
    border-radius: f(10);
    background-color: #748490;
    select,
    input{
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        line-height: f(140);
        padding: 0 f(25);
        border: none;
        background-color: transparent;
        font-size: f(44);
        color: #fff;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }
    &.select{
        background: #748490 url(../../../assets/images/css/select-arrow-0524.png) right center no-repeat;
        background-size: f(116) auto;
        select{
            padding-right: f(120);
        }
    }
}
.agreement{
    @extend %df;
    @extend %cp;
    @extend %aic;
    width: f(725);
    height: f(100);
    font-size: f(44);
    color: #545454;
    i{
        margin-right: f(10);
        width: f(46);
        height: f(50);
        border-radius: f(10);
        background-color: #6a808d;
    }
    &.active{
        i{
            background: url("../../../assets/images/css/icon-select-0524.jpg") center no-repeat;
            background-size: contain;
        }
    }
}

.button{
    @extend %df;
    @extend %cp;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    font-size: f(43);
    width: f(725);
    height: f(140);
    border-radius: f(10);
    background-color: #067026;
}

.foot{
    @extend %w100;
    @extend %pr;
    @extend %tar;
    margin-top: f(-50);
    img{
        @extend %dib;
        width: f(828);
        height: auto;
    }
}
