<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>注册-门店老板</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <img src="../../../assets/images/html/zcye-bg.png" class="head"/>
    <div class="main">
        <div class="form">
            <div class="form-item">
                <div class="input-box">
                    <input type="text" placeholder="输入姓名"/>
                </div>
            </div>
            <div class="form-item">
                <div class="input-box select">
                    <select>
                        <option>门店老板</option>
                    </select>
                </div>
            </div>
            <div class="bar"></div>
            <div class="form-item form-item-null">
                <div class="input-box select">
                    <select>
                        <option>省份*</option>
                    </select>
                </div>
                <div class="null"></div>
                <div class="input-box select">
                    <select>
                        <option>城市*</option>
                    </select>
                </div>
            </div>
            <div class="form-item">
                <div class="input-box select">
                    <select>
                        <option>选择门店*</option>
                    </select>
                </div>
            </div>
            <div class="form-item form-item-p">
                <p>*嘉实多护车保养站人员请务必选择正确的门店名称，通过认证后即可进入嘉盛平台</p>
            </div>
            <div class="form-item form-item-p">
                <div class="input-box">
                    <input type="text" placeholder="手机号码"/>
                </div>
            </div>
            <div class="form-item">
                <div class="input-box select">
                    <select>
                        <option>经销商*</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="agreement active">
            <i></i>
            <span>接受用户隐私条款</span>
        </div>
        <div class="button">
            <span>提交</span>
        </div>
    </div>
    <div class="foot">
        <img src="../../../assets/images/html/zcye-bg2.png"/>
    </div>
</body>
</html>

