@import "../../../../../assets/scss/com20191211";

html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}

html{
    background: url("../../../../../assets/images/css/20191211-vm-b.jpg") repeat-y center;
}

.header-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %oh;
    height: f(320);
    padding: 0 f(60);
    background-color: #dedede;
    &:after{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        content: '';
        width: f(183);
        height: f(73);
        background: url("../../../../../assets/images/css/20191211-sa-he-1.png") center no-repeat;
        background-size: contain;
    }
}
.header-avatar{
    @extend %bsb;
    margin-top: f(20);
    width: f(160);
    height: f(160);
    border: 1px #999 solid;
    border-radius: 50%;
    margin-right: f(30);
}
.header-content{
    @extend %df1;
    @extend %c3;
    h2{
        font-size: f(42);
    }
    p{
        font-size: f(36);
    }
    a{
        @extend %cp;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        margin-bottom: f(10);
        font-size: f(32);
        color: #02a44f;
        width: f(220);
        border: 1px #02a44f solid;
        height: f(40);
        padding: 0 f(20);
        border-radius: f(20);
    }

}
.header-stars{
    @extend %df;
    @extend %aic;
    margin: f(10) 0 f(20);
    height: f(65);
    i{
        width: f(50);
        height: f(65);
        background: url("../../../../../assets/images/css/20191211-sa-i-i-2.png") left no-repeat;
        background-size: contain;
        &.active{
            background: url("../../../../../assets/images/css/20191211-sa-i-i-1.png") left no-repeat;
            background-size: contain;
        }
    }
}
.header-action{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    p{
        @extend %tar;
        @extend %c6;
        margin-top: f(20);
        line-height: 1.2;
        font-size: f(36);
    }
    strong{
        font-size: f(64);
        color: red;
    }
}
.header-link{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    width: f(225);
    height: f(65);
    background: url("../../../../../assets/images/css/20191211-mtc-link-2.png") center no-repeat;
    background-size: contain;
}

.search-section{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    margin: f(30) auto;
    border-radius: f(50);
    width: f(1050);
    height: f(100);
    background-color: #fff;
    border: 2px #078d4b solid;
}
.search-input{
    @extend %df1;
    input{
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        padding: 0 f(40);
        border: none;
        height: f(80);
        line-height: f(80);
        background-color: transparent;
    }
}
.search-button{
    @extend %cp;
    width: f(160);
    height: f(100);
    border-radius: f(50);
    background: #02a44f url("../../../../../assets/images/css/20191211-sa-i-i-3.png") center no-repeat;
    background-size: f(80) auto;
}

.filter-section{
    @extend %df;
    @extend %pr;
    @extend %boxs;
    z-index: 9;
    margin: f(30) auto;
    width: f(1050);
    border-radius: f(5);
    background-color: #e0e2e6;
    height: f(130);
}
.filter-section-item{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %pr;
    font-size: f(42);
    color: #02a44f;
    &:nth-child(1){
        i{
            width: f(50);
            height: f(62);
            background: url("../../../../../assets/images/css/20191211-sa-i-i-4.png") left no-repeat;
            background-size: contain;
        }
    }
    &:nth-child(2){
        i{
            width: f(50);
            height: f(70);
            background: url("../../../../../assets/images/css/20191211-sa-i-i-5.png") left no-repeat;
            background-size: contain;
        }
    }
    &:nth-child(3){
        i{
            width: f(52);
            height: f(53);
            background: url("../../../../../assets/images/css/20191211-sa-i-i-6.png") left no-repeat;
            background-size: contain;
        }
    }
    i{
        margin-right: f(20);
    }
}
.filter-section-inner{
    @extend %cp;
    @extend %w100;
    @extend %h100;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %oh;
    &:after{
        content: '';
        margin-left: f(10);
        margin-top: f(12);
        width: 0;
        height: 0;
        border-width: f(15);
        border-style: solid;
        border-color: #02a44f transparent transparent transparent;
    }
    span{
        @extend %twno;
        height: f(80);
        line-height: f(80);
        max-width: f(220);
    }
}
.filter-select{
    @extend %pa;
    @extend %boxs;
    left: f(20);
    right: f(20);
    top: 102%;
    background-color: #fff;
    border-radius: f(10);
    li{
        @extend %cp;
        @extend %c6;
        @extend %twno;
        @extend %tac;
        @extend %w100;
        font-size: f(36);
        height: f(80);
        line-height: f(80);
        border-bottom: 1px #ddd solid;
        &:last-child{
            border-bottom: none;
        }
        &.active{
            color: #02a44f;
        }
    }
}

.goods-section{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %jcs;
    @extend %fww;
    margin: f(30) auto;
    width: f(1050);
}
.goods-item{
    @extend %boxs;
    @extend %oh;
    width: f(517);
    margin-bottom: f(30);
    border-radius: f(10);
    background-color: #f5f5f5;
    i{
        @extend %pa;
        @extend %b0;
        @extend %l0;
    }
    &.new{
        i{
            width: f(226);
            height: f(50);
            background: url("../../../../../assets/images/css/20191211-sa-i-i-10.jpg") left no-repeat;
            background-size: contain;
        }
    }
    &.hot{
        i{
            width: f(227);
            height: f(50);
            background: url("../../../../../assets/images/css/20191211-sa-i-i-9.jpg") left no-repeat;
            background-size: contain
        }
    }
}
.goods-image{
    @extend %w100;
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: #fff;
    height: f(520);
    img{
        height: f(430);
        max-width: f(500);
    }
}
.goods-info{
    padding: f(30);
}
.goods-name{
    @extend %twno;
    @extend %c3;
    font-size: f(32);
}
.goods-opt{
    @extend %df;
    @extend %oh;
    @extend %aic;
    margin-top: f(10);
    .goods-number{
        @extend %df;
        @extend %df1;
        @extend %aic;
        @extend %oh;
    }
    span{
        @extend %twno;
        color: red;
        font-size: f(36);
        &.line-through{
            color: #dda06d;
            text-decoration: line-through;
        }
        &:first-child{
            margin-right: f(5);
        }
    }
}
.goods-btn{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    @extend %cfff;
    width: f(135);
    height: f(70);
    font-size: f(36);
    //background: url("../../../../../assets/images/css/20191211-sa-i-i-8.png") left no-repeat;
    //background-size: contain;
    background-color: #02a44f;
    border-radius: f(35);
    border: 1px #bbb solid;
}
