@import "../../../../assets/scss/com20191211";

html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}

.header-section{
    @extend %w100;
    height: auto;
    img{
        @extend %w100;
        height: auto;
    }
}

.button-section{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    margin: f(30) auto;
    width: f(1055);
}
.button-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %boxs;
    @extend %fwb;
    color: #02a54f;
    font-size: f(42);
    width: f(510);
    height: f(145);
    border-radius: f(20);
    i{
        margin-right: f(16);
        &.rl-icon{
            width: f(71);
            height: f(77);
            background: url("../../../../assets/images/css/20191211-px-2.jpg") no-repeat;
            background-size: contain;
        }
        &.jl-icon{
            width: f(62);
            height: f(69);
            background: url("../../../../assets/images/css/20191211-px-3.jpg") no-repeat;
            background-size: contain;
        }
    }
}

.entry-section{

}
.entry-item{
    @extend %pr;
    @extend %boxs;
    @extend %bsb;
    line-height: 1.7;
    margin: f(30) auto;
    width: f(1055);
    background-color: #fff;
    border-radius: f(40);
    padding: f(30) f(50);
    p{
        @extend %c9;
        font-size: f(36);
    }
    strong{
        @extend %c3;
    }
}
.entry-link{
    @extend %pa;
    @extend %t50;
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    width: f(300);
    border: 1px solid #eee;
    height: f(80);
    font-size: f(32);
    right: f(30);
    margin-top: f(-40);
    border-radius: f(40);
    &.ddpx{
        background-color: #02a54f;
        i{
            &:after{
                border-top: 1px solid #02a54f;
                border-right: 1px solid#02a54f;
            }
        }
    }
    &.htpx{
        background-color: #f50a2e;
        i{
            &:after{
                border-top: 1px solid #f50a2e;
                border-right: 1px solid#f50a2e;
            }
        }
    }
    &.yth{
        background-color: #d1a74e;
        i{
            &:after{
                border-top: 1px solid #d1a74e;
                border-right: 1px solid#d1a74e;
            }
        }
    }
    i{
        @extend %pr;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #fff;
        margin-left: f(10);
        &:after{
            @include tfr(45deg);
            content: '';
            margin-bottom: f(3);
            margin-right: f(4);
            width: f(8);
            height: f(8);
            border-top: 1px solid red;
            border-right: 1px solid red;
        }
    }
}

.train-section{
    @extend %boxs;
    border-radius: f(20);
    width: f(1055);
    margin: f(30) auto;
    background-color: #f2f2f2;
}
.train-title{
    @extend %df;
    @extend %aic;
    @extend %c3;
    padding-left: f(30);
    font-size: f(42);
    height: f(100);
}
.train-list{

}
.train-item{
    background-color: #fff;
    padding-bottom: f(30);
    border-bottom: 1px solid #ddd;
    &.ht{
        h4{
            color: #f50a2e;
        }
    }
}
.train-head{
    @extend %df;
    @extend %aic;
    padding: f(30) f(20) f(10) f(50);
}
.train-head-con{
    @extend %df1;
    h4{
        font-size: f(36);
        &.color-red{
            color: #f50a2e;
        }
        &.color-red2{
            color: #d1a74e;
        }
    }
    span{
        @extend %c9;
    }
}
.train-button{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %bsb;
    @extend %cp;
    @extend %jcc;
    width: f(240);
    height: f(80);
    font-size: f(36);
    color: #bbb;
    margin-right: f(30);
    border: 1px solid #bbb;
    border-radius: f(40);
    &.color-ls{
        color: #02a54f;
        border: 1px solid #02a54f;
    }
    &.color-red{
        color: #f50a2e;
        border: 1px solid #f50a2e;
    }
}
.train-content{
    @extend %c6;
    padding-left: f(50);
    line-height: 1.7;
    p{
        font-size: f(35);
    }
}
