<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>我的嘉园</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header">
        <img src="https://img4.sycdn.imooc.com/szimg/5c62a4dc0812e84106000338.jpg" alt="" class="avatar">
        <div class="info">
            <span class="name">Jerry</span>
            <span class="desc">普通机修达人</span>
            <span class="desc">| 普通机修达人</span>
        </div>
    </div>
    <img src="../../assets/images/html/ltt-bg-0604.png" class="banner">
    <div class="main">
        <div class="entry-item"></div>
        <div class="entry-item"></div>
        <div class="entry-item"></div>
    </div>
    <div class="button-group">
        <div class="button">
            <i></i>
            <span>LTT门店支持</span>
        </div>
    </div>
</body>
</html>

