@import "../../assets/scss/_define";
@import "../../assets/scss/common";
@import "../../assets/scss/animate";


%bg1{
    background: url("../../assets/images/css/icon.png") no-repeat;
    background-size: q(1000);
}

html,
body {
    @extend %pr;
    @extend %h100;
    @extend %w100;
    @extend %oh;
}

.swiper-container {
    @extend %w100;
    @extend %h100;
}
.swiper-slide{
    @extend %pr;
    @extend %w100;
    @extend %h100;
    @extend %oh;
    &:nth-child(1){
        background: #c9e4f9 url("../../assets/images/css/P_01_bg.jpg") center top no-repeat;
        background-size: contain;
    }
    &:nth-child(2){
        background: #c9e4f9 url("../../assets/images/css/P_02_bg.jpg") center top no-repeat;
        background-size: contain;
    }
}

.prompt{
    @extend %tac;
    margin-top: q(300);
    li{
        @extend %oh;
        height: q(120);
        line-height: q(120);
        font-size: q(44);
        color: #4db2dd;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 0.6s;
        }
        &:nth-child(3) {
            animation-delay: 1.2s;
        }
        &:nth-child(4) {
            animation-delay: 2.2s;
        }
        &:nth-child(5) {
            animation-delay: 3s;
        }
        &:nth-child(6) {
            animation-delay: 3.5s;
        }
        &:nth-child(7) {
            animation-delay: 4s;
        }
    }
}

.next-button{
    i{
        @extend %db;
        @extend %ma;
        @extend %bg1;
        width: q(93);
        height: q(53);
        animation: upOrDown 2s infinite;
    }
    @extend %pa;
    @extend %cp;
    @extend %l50;
    margin-left: q(-55);
    bottom: q(200);
    width: q(110);
    height: q(110);
}

@keyframes upOrDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, q(50), 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes upOrDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, q(50), 0);
        -webkit-transform: translate3d(0, q(50), 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.foot-section{
    @extend %pa;
    @extend %tac;
    @extend %b0;
    @extend %l0;
    @extend %w100;
    padding-bottom: q(80);
}
.start-button{
    @extend %ma;
    @extend %cp;
    background: url("../../assets/images/css/P_02_button.png") no-repeat;
    background-size: contain;
    width: q(648);
    height: q(130);
}
.rule-link{
    @extend %cp;
    @extend %dib;
    margin-top: q(30);
    font-size: q(40);
    color: #2f68b0;
    border-bottom: 1px solid #2f68b0;
}

.main-section{
    @extend %pa;
    @extend %df;
    @extend %jcc;
    @extend %aic;
    @extend %fww;
    left: q(200);
    right: q(200);
    top: q(600);
    bottom: q(600);
    transform: perspective(500px);
    transform-style:preserve-3d;
}

.cards{
    @extend %pa;
    width: q(885);
    height: q(1063);
    transform: scale3d(0, 0, 0);
    &:nth-child(1) {
        animation: flutter-1 4s infinite;
    }
    &:nth-child(2) {
        animation: flutter-2 4s infinite 1s;
    }
    &:nth-child(3) {
        animation: flutter-3 4s infinite 2s;
    }
    &:nth-child(4) {
        animation: flutter-4 4s infinite 3s;
    }
    &:nth-child(5) {
        animation: flutter-1 4s infinite 4s;
    }
    &:nth-child(6) {
        animation: flutter-2 4s infinite 5s;
    }
    &:nth-child(7) {
        animation: flutter-3 4s infinite 6s;
    }
    &:nth-child(8) {
        animation: flutter-4 4s infinite 7s;
    }
    &:nth-child(9) {
        animation: flutter-1 4s infinite 8s;
    }
    &:nth-child(10) {
        animation: flutter-2 4s infinite 9s;
    }
    &:nth-child(11) {
        animation: flutter-3 4s infinite 10s;
    }
    &:nth-child(12) {
        animation: flutter-4 4s infinite 11s;
    }
}


.d{
    &:nth-child(1) {
        animation: flutter-1 24s infinite;
    }
    &:nth-child(2) {
        animation: flutter-2 12s infinite 2s;
    }
    &:nth-child(3) {
        animation: flutter-3 12s infinite 4s;
    }
    &:nth-child(4) {
        animation: flutter-4 12s infinite 6s;
    }
    &:nth-child(5) {
        animation: flutter-1 12s infinite 8s;
    }
    &:nth-child(6) {
        animation: flutter-2 12s infinite 10s;
    }
    &:nth-child(7) {
        animation: flutter-3 12s infinite 12s;
    }
    &:nth-child(8) {
        animation: flutter-4 12s infinite 14s;
    }
    &:nth-child(9) {
        animation: flutter-1 12s infinite 16s;
    }
    &:nth-child(10) {
        animation: flutter-2 12s infinite 18s;
    }
    &:nth-child(11) {
        animation: flutter-3 12s infinite 20s;
    }
    &:nth-child(12) {
        animation: flutter-4 12s infinite 22s;
    }
}
@keyframes flutter-1 {
    from {
        opacity: 0;
        transform: scaleX(1) rotateY(-11deg) rotate(13deg) skewX(0deg) skewY(-29deg) rotateX(1deg) translate3d(288px,-837px,-3000px);
    }
    5%{
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
    25%{
        opacity: 0;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
    to {
        opacity: 0;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
}

@keyframes flutter-2 {
    from {
        opacity: 0;
        transform: scaleX(1) rotateY(0deg) rotate(-12deg) skewX(0deg) skewY(0deg) rotateX(-1deg) translate3d(-355px,-717px,-1500px);
    }
    5%{
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: scaleX(1) rotateY(18deg) rotate(-30deg) skewX(0deg) skewY(0deg) translate3d(18px,61px,-93px);
    }
    25%{
        opacity: 0;
        transform: scaleX(1) rotateY(18deg) rotate(-30deg) skewX(0deg) skewY(0deg) translate3d(18px,61px,-93px);
    }
    to {
        opacity: 0;
        transform: scaleX(1) rotateY(18deg) rotate(-30deg) skewX(0deg) skewY(0deg) translate3d(18px,61px,-93px);
    }
}
@keyframes flutter-3 {
    from {
        opacity: 0;
        transform: scaleX(1) rotateY(-11deg) rotate(13deg) skewX(0deg) skewY(-29deg) rotateX(1deg) translate3d(288px,-837px,-4500px);
    }
    5%{
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
    25%{
        opacity: 0;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
    to {
        opacity: 0;
        transform: scaleX(1) rotateY(-12deg) rotate(17deg) skewX(0deg) skewY(0deg)  translate3d(-5px,68px,-93px);
    }
}
@keyframes flutter-4 {
    from {
        opacity: 0;
        transform: scaleX(1) rotateY(0deg) rotate(-12deg) skewX(0deg) skewY(0deg) rotateX(-1deg) translate3d(-355px,-717px,-3500px);
    }
    5%{
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: scaleX(1) rotateY(31deg) rotate(-11deg) skewX(0deg) skewY(0deg) translate3d(64px,64px,-86px);
    }
    25%{
        opacity: 0;
        transform: scaleX(1) rotateY(31deg) rotate(-11deg) skewX(0deg) skewY(0deg) translate3d(64px,64px,-86px);
    }
    to {
        opacity: 0;
        transform: scaleX(1) rotateY(31deg) rotate(-11deg) skewX(0deg) skewY(0deg) translate3d(64px,64px,-86px);
    }
}



@keyframes flutter-1 {
    from {
        transform: scale3d(0, 0, 0) rotateY(30deg) rotateZ(130deg) translate3d(0, 0, -500px);
    }
    to {
        transform: scale3d(1, 1, 1) rotateY(30deg) rotateZ(30deg)  translate3d(0, 0, 1000px);
    }
}
@keyframes flutter-2 {
    from {
        transform: scale3d(0, 0, 0) rotateY(-30deg) rotateZ(-130deg) translate3d(0, -200px, -500px);
    }
    to {
        transform: scale3d(1, 1, 1) rotateY(-30deg) rotateZ(-30deg)  translate3d(0, 200px, 1000px);
    }
}
@keyframes flutter-3 {
    from {
        transform: scale3d(0, 0, 0) rotateY(15deg) rotateZ(160deg) translate3d(0, 0, -500px);
    }
    to {
        transform: scale3d(1, 1, 1) rotateY(15deg) rotateZ(60deg)  translate3d(0, 0, 1500px);
    }
}
@keyframes flutter-4 {
    from {
        transform: scale3d(0, 0, 0) rotateY(-15deg) rotateZ(-160deg) translate3d(0, -200px, -500px);
    }
    to {
        transform: scale3d(1, 1, 1) rotateY(-15deg) rotateZ(-60deg)  translate3d(0, 200px, 1500px);
    }
}
