@import "../../assets/scss/_define";
@import "../../assets/scss/common";

.select2-selection__arrow{
    display: none !important;
}
.select2-selection--single{
    border: none !important;
    background-color: transparent !important;
}
%bg1{
    background: url("../../assets/images/css/icon2.png") no-repeat;
    background-size: q(1000);
}

html,
body {
    @extend %pr;
    @extend %w100;
    overflow-x: hidden;
}
html{
    @extend %h100;
    background: url("../../assets/images/css/bg.png") repeat;
}
body{
    min-height: 100%;
    background: url("../../assets/images/css/footer-bg.jpg") center bottom no-repeat;
    background-size: 100% auto;
}
.head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: q(132);
    background: url("../../assets/images/css/header-bg-2.jpg") center no-repeat;
    background-size: 100%;
}

.main{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %oh;
    padding: q(130) 0 q(150);
}
.user{
    border-radius: 50%;
    width: q(338);
    height: q(338);
    img{
        @extend %db;
        @extend %w100;
        @extend %h100;
        border-radius: 50%;
    }
}
.form{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    margin-top: q(110);
}
.prompt{
    font-size: q(24);
    color: #1c8a45;
    line-height: 1.5;
}
.input-box{
    @extend %pr;
    @extend %df;
    @extend %aic;
    width: q(700);
    height: q(95);
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: q(16);
    margin-top: q(24);
    >span{
        @extend %pa;
        @extend %t0;
        left: q(-30);
        font-size: q(31);
        color: #1c8a45;
        line-height: q(95);
    }
}
.label{
    @extend %df;
    @extend %bsb;
    @extend %aic;
    padding-left: q(32);
    width: q(180);
    height: q(48);
    font-size: q(31);
    color: #383838;
    border-right: 1px solid #dedede;
    i{
        @extend %dib;
        @extend %bg1;
        width: q(40);
        height: q(40);
        margin-right: q(10);
        &.icon-2{
            background-position: 0 q(-50);
        }
        &.icon-3{
            height: q(47);
            background-position: 0 q(-97);
        }
        &.icon-4{
            background-position: 0 q(-144);
        }
        &.icon-5{
            background-position: 0 q(-245);
        }
        &.icon-6{
            background: url("../../assets/images/css/address-icon-0531.png") center no-repeat;
            background-size: contain;
        }
        &.icon-7{
            background: url("../../assets/images/css/ears-icon-0531.png") center no-repeat;
            background-size: contain;
        }
        &.icon-8{
            background: url("../../assets/images/css/store-icon-0531.png") center no-repeat;
            background-size: contain;
        }
    }
    span{
        font-size: q(31);
        color: #1c8a45;
    }
}

.value{
    @extend %df1;
    @extend %h100;
    input,
    select{
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        border: none;
        line-height: q(95);
        padding: 0 q(24);
        background-color: transparent;
    }
    select{
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }
    &.select{
        @extend %df;
        @extend %aic;
        background: url("../../assets/images/css/select-bg-icon.png") right center no-repeat;
        background-size: auto 100%;
        select{
            padding-right: j(60);
        }
    }
}

.upload-btn{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: q(80);
    font-size: q(96);
    color: #1c8a45;
    height: q(140);
    border-bottom: 2px solid #1c8a45;
}

.file{
    @extend %df;
    @extend %jcs;
    margin-top: q(27);
    width: q(630);
}
.file-box{
    width: q(300);
    img{
        margin-top: q(27);
        @extend %db;
        @extend %w100;
        height: q(200);
        background-color: #fff;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    }
}
.file-btn{
    @extend %df;
    @extend %pr;
    @extend %jcc;
    @extend %aic;
    @extend %w100;
    height: q(95);
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: q(16);
    i{
        @extend %db;
        @extend %bg1;
        width: q(48);
        height: q(37);
        background-position: 0 q(-201);
        margin-right: q(16);
    }
    span{
        font-size: q(35);
        color: #1c8a45;
    }
    input{
        @extend %pa;
        @extend %t0;
        @extend %w100;
        @extend %h100;
        opacity: 0;
    }
}

.submit-btn{
    @extend %df;
    @extend %cp;
    @extend %aic;
    @extend %jcc;
    margin-top: q(58);
    height: q(100);
    width: q(350);
    background-color: #1c8a45;
    border-radius: q(16);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    span{
        font-size: q(56);
        color: #fff;
    }
}

.agreement{
    @extend %df;
    @extend %cp;
    @extend %aic;
    margin-top: q(35);
    i{
        @extend %db;
        @extend %bsb;
        margin-right: q(16);
        width: q(30);
        height: q(30);
        border: 2px solid #1c8a45;
    }
    span{
        font-size: q(31);
        color: #1c8a45;
    }
    &.active{
        i{
            @extend %bg1;
            background-position: q(-89) 0;
        }
    }
}
