<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>注册</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="head"></div>
    <div class="main">
        <div class="user">
            <img src="https://img2.mukewang.com/szimg/5c6bdb3e08e4674a06000338.jpg" alt="">
        </div>
        <div class="form">
            <p class="prompt">打“*”为必填项，如无法选择品牌与集团时，请上传名片。</p>
            <div class="input-box">
                <span>*</span>
                <label class="label">
                    <i></i>
                    <span>姓名</span>
                </label>
                <div class="value">
                    <input type="text" placeholder="请输入姓名">
                </div>
            </div>
            <div class="input-box">
                <span>*</span>
                <label class="label">
                    <i></i>
                    <span>电话</span>
                </label>
                <div class="value">
                    <input type="text" placeholder="请输入电话">
                </div>
            </div>
            <div class="input-box">
                <span>*</span>
                <label class="label">
                    <i></i>
                    <span>职位</span>
                </label>
                <div class="value">
                    <select>
                        <option>请选择您的职位</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                <label class="label">
                    <i></i>
                    <span>品牌</span>
                </label>
                <div class="value">
                    <select>
                        <option>请选择您的品牌</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                <label class="label">
                    <i></i>
                    <span>集团</span>
                </label>
                <div class="value">
                    <select>
                        <option>请选择您的集团</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="upload-btn">
            <span>上传名片</span>
        </div>
        <div class="file">
            <div class="file-box">
                <div class="file-btn">
                    <input type="file">
                    <i></i>
                    <span>名片正面</span>
                </div>
                <img src="" alt="">
            </div>
            <div class="file-box">
                <div class="file-btn">
                    <input type="file">
                    <i></i>
                    <span>名片反面</span>
                </div>
                <img src="" alt="">
            </div>
        </div>
        <div class="submit-btn">
            <span>提　交</span>
        </div>
        <div class="agreement active">
            <i></i>
            <span>我已阅读并同意本协议</span>
        </div>
    </div>
</body>
</html>

