@import "../../../assets/scss/define";
@import "../../../assets/scss/reset";

.select2-selection__arrow{
    display: none !important;
}
.select2-selection--single{
    border: none !important;
    height: f(115) !important;
    background-color: transparent !important;
}
.select2-selection__rendered{
    line-height: f(115) !important;
    font-size: f(36);
    color: #3ba86d !important;
}
input::-webkit-input-placeholder {
    color: #fff;
}
html,
body {
    @extend %pr;
    @extend %w100;
    @extend %h100;
}
body{
    @extend %df;
    @extend %fdc;
}
.head{
    @extend %pr;
    @extend %db;
    @extend %w100;
    height: auto;
    z-index: 9;
}
.tab{
    @extend %df;
    @extend %aic;
    border-bottom: 1px solid #798993;
}
.tab-item{
    @extend %df;
    @extend %cp;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    height: j(120);
    font-size: j(38);
    border-right: 1px solid #ddd;
    color: #056235;
    background-color: #fff;
    i{
        margin-right: f(20);
        background: url("../../../assets/images/css/icon-2-0524.png") no-repeat;
        background-size: j(100) j(200);
    }
    &.active{
        @extend %cfff;
        background-color: #798993;
        .icon-1{
            background-position: j(-42) 0;
        }
        .icon-2{
            background-position: j(-42) j(-53);
        }
        .icon-3{
            background-position: j(-47) j(-123);
        }
    }
    .icon-1{
        width: j(42);
        height: j(48);
        background-position: 0 0;
    }
    .icon-2{
        width: j(42);
        height: j(62);
        background-position: 0 j(-53);
    }
    .icon-3{
        width: j(47);
        height: j(42);
        background-position: 0 j(-123);
    }
}
.container{
    @extend %pr;
    @extend %df1;
    @extend %oh;
    @extend %w100;
}

.filter{
    @extend %df;
    @extend %aic;
    @extend %w100;
    @extend %bsb;
    padding: 0 !important;
    background-color: #ececec !important;
}
.filter-item{
    @extend %df1;
    @extend %pr;
    background-color: #ececec;
    select{
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        //@extend %tac;
        @extend %oh;
        color: #3ba86d;
        //text-align-last: center;
        height: f(115);
        line-height: f(115);
        padding: 0 f(30);
        border: none;
        background-color: transparent;
        font-size: f(36);
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        option{
            @extend %tac;
        }
    }
    &:after{
        @extend %pa;
        @extend %t50;
        @include tfr(45deg);
        content: '';
        right: f(50);
        margin-top: f(-30);
        width: f(30);
        height: f(30);
        border-bottom: 2px solid #3ba86d;
        border-right: 2px solid #3ba86d;
    }
}
.content{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %w100;
    @extend %h100;
    overflow-y: auto;
    li{
        @extend %df;
        @extend %aic;
        padding: j(25) j(37);
        border-bottom: 1px solid #ddd;
        background-color: #fff;
    }
    &.mdsh{
        li{
            @extend %df;
            @extend %aic;
            padding: j(25) j(37);
            border-bottom: 1px solid #ddd;
            background-color: #fff;
        }
    }
    &.mdgl{
        li{
            @extend %oh;
        }
    }
    &.mdrl{
        .prompt{
            @extend %jcc;
            @extend %cfff;
            font-size: j(24);
            height: j(40);
            padding: 0;
            background-color: #009143;
        }
    }
}
.left{
    @extend %df1;
    color: #333;
    font-size: j(26);
    p{
        margin-bottom: j(15);
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.right{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
    .btn{
        @extend %df;
        @extend %cp;
        @extend %aic;
        @extend %jcc;
        @extend %cfff;
        font-size: f(38);
        width: j(140);
        height: j(52);
        margin: j(10) 0;
        background-color: #017a33;
    }
    .btn-red{
        background-color: #df1a1a;
    }
}

.item{
    @extend %df1;
    @extend %oh;
    color: #333;
    font-size: j(26);
    p{
        @extend %df;
        @extend %aic;
        @extend %oh;
        margin-bottom: j(15);
        &:last-child{
            margin-bottom: 0;
        }
    }
    .level{
        width: j(23);
        height: j(25);
        margin-right: j(5);
        background: url("../../../assets/images/css/icon-2-0524.png") no-repeat;
        background-size: j(100) j(200);
        background-position: 0 j(-169);
    }
}
