<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>首页-门店</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <img class="head" src="../../../assets/images/html/head-0524.jpg"/>
    <div class="session first">
        <div class="user">
            <div class="avatar">
                <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
            </div>
            <div class="info">
                <p class="name">Jerry</p>
                <p>xx门店</p>
                <p>122222222222</p>
            </div>
        </div>
        <div class="other">
            <div class="null"></div>
            <a href="javascript:;" class="link">修改信息</a>
        </div>
    </div>
    <div class="session second">
        <div class="right">
            <p>门店数: 3</p>
            <p>已绑定: 3</p>
            <p>待审核: 25</p>
        </div>
        <div class="button"></div>
    </div>
    <ul class="main">
       <li class="item item-1">
           <i></i>
           <span>最新消息</span>
       </li>
       <li class="item item-2">
           <i></i>
           <span>产品与技术</span>
       </li>
       <li class="item item-3">
           <i></i>
           <span>积分商城</span>
       </li>
       <li class="item item-4">
           <i></i>
           <span>直播培训</span>
       </li>
        <li class="item item-5">
            <i></i>
            <span>星级认证计划</span>
        </li>
        <li class="item item-6">
            <i></i>
            <span>反馈与投诉</span>
        </li>
        <li class="item item-7">
            <i></i>
            <span>交流分享</span>
        </li>
        <li class="item item-8">
            <i></i>
            <span>合作指南</span>
        </li>
        <li class="item">
            <i style="background: url('assets/images/v0723-yxzx.png') no-repeat; background-size: contain"></i>
            <span>营销中心</span>
        </li>
    </ul>
    <div class="foot">
        <div class="button-link">
            <i></i>
            <span>金牌销售秘籍</span>
        </div>
    </div>
</body>
</html>

