@import "../../../assets/scss/define";
@import "../../../assets/scss/reset";

html,
body {
    @extend %pr;
    @extend %h100;
    @extend %w100;
}
.head{
    @extend %db;
    @extend %w100;
    height: auto;
}
.title{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fwn;
    height: j(118);
    background-color: #ececec;
    font-size: j(36);
    color: #009143;
    i{
        width: j(63);
        height: j(86);
        margin-right: j(20);
        background: url("../../../assets/images/css/v0627-hd.png") center no-repeat;
        background-size: contain;
    }
    h2{
        @extend %fwn;
    }
}
.list{

}
.item{
    border-bottom: 1px solid #ddd;
    padding: j(20) j(30);
    p{
        @extend %df;
        @extend %aic;
        color: #666;
        font-size: j(18);
    }
    span{
        @extend %df1;
        @extend %oh;
        @extend %toe;
        height: j(44);
        margin-right: j(20);
        line-height: j(44);
    }
}
