@import "../../../assets/scss/define";
@import "../../../assets/scss/reset";

html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}
html{
    @extend %h100;
    background: url("../../../assets/images/css/homeland-mine-bg.jpg") center repeat-y;
    background-size: 100% auto;
}
body{
    background: url("../../../assets/images/css/homeland-mine-bg2.jpg") center bottom no-repeat;
    background-size: 100% auto;
}
.header{
    @extend %w100;
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: f(186);
    background: url("../../../assets/images/css/homeland-mine-bg3.jpg") center no-repeat;
    background-size: contain;
    padding: 0 f(70);
}
.avatar{
    width: f(150);
    height: f(150);
    border-radius: 50%;
    margin-right: f(40);
}
.info{
    @extend %df;
    @extend %df1;
    @extend %aic;
}
.name{
    font-size: f(68);
    color: #000;
    margin-right: f(30);
}
.desc{
    font-size: f(42);
    color: #666;
}
.link{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    font-size: f(36);
    color: #fff;
    width: f(240);
    height: f(80);
    background-color: #1c8a45;
}
.banner{
    @extend %w100;
    @extend %db;
    height: auto;
}
.main{
    @extend %df;
    @extend %aic;
    @extend %oh;
    padding: 0 f(50);
    margin-top: f(160);
    background: url("../../../assets/images/css/homeland-mine-icon.png") center top no-repeat;
    background-size: 100% auto
}
.entry-item{
    @extend %oh;
    @extend %df1;
    @extend %cp;
    span{
        @extend %db;
        @extend %tac;
        font-size: f(46);
        color: #333;
        margin-top: f(380);
    }
}
