<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>资源天地</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header-section">
        <img src="../../../assets/images/html/head-0524.jpg"/>
        <div class="menu-button"></div>
    </div>
    <div class="title">
        <i></i>
        <h2>资源天地</h2>
    </div>
    <dl class="section">
        <dt>产品手册</dt>
        <dd class="color-1"><span>嘉实多润滑油产品推荐</span></dd>
    </dl>
    <dl class="section">
        <dt>店内物料介绍</dt>
        <dd class="color-2"><span>嘉实多标准陈列指导</span></dd>
        <dd class="color-2"><span>极护大屏幕使用指南</span></dd>
        <dd class="color-2"><span>嘉实多产品道具使用指南</span></dd>
        <dd class="color-2"><span>定制化海报介绍</span></dd>
    </dl>
    <dl class="section">
        <dt>活动专区</dt>
        <dd class="color-3"><span>直销试点项目活动指南</span></dd>
        <dd class="color-3"><span>大桶油展列项目介绍</span></dd>
    </dl>
    <dl class="section">
        <dt>视频素材专区</dt>
        <dd class="color-4"><span>视频集</span></dd>
        <dd class="color-4"><span>品牌素材下载</span></dd>
    </dl>
</body>
</html>

