@import "../../../../assets/scss/com20191211";


html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}
html{
    background: url("../../../../assets/images/css/20191211-vm-b.jpg") repeat-y center;
}

.news-section{
    @extend %boxs;
    @extend %oh;
    margin: f(40) auto;
    width: f(1050);
    min-height: f(1500);
    border-radius: f(5);
    background-color: #fff;
}
.news-item{
    padding: f(50);
    border-bottom: 1px #ddd solid;
    h2{
        @extend %fwb;
        color: #333;
        font-size: f(48);
        margin-bottom: f(20);
    }
    p{
        line-height: 1.5;
        font-size: f(32);
        color: #777;
    }
}

.news-null{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c9;
    font-size: f(42);
    height: f(400);
}
