<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>商品详情</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header-section">
        <img src="../../../assets/images/html/head-0524.jpg"/>
        <div class="menu-button"></div>
    </div>
    <div class="banner-section">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
    </div>
    <div class="base-section">
        <h1>雷诺F1电脑包</h1>
        <div class="base-info">
            <div>
                <span class="color">1800</span>
                <span class="flex">积分</span>
                <span>150人已兑换</span>
            </div>
            <div>
                <span>数量</span>
                <div class="operate">
                    <i>-</i>
                    <span>1</span>
                    <i>+</i>
                </div>
                <span class="flex"></span>
                <span>剩余库存：22件</span>
            </div>
        </div>
    </div>
    <div class="details-section">
        <h2>商品参数</h2>
        <p>产品名称：惺惺惜惺惺</p>
        <p>尺寸：惺惺惜惺惺</p>
        <p>型号：惺惺惜惺惺</p>
        <p>重量：惺惺惜惺惺</p>
        <p>品牌：惺惺惜惺惺</p>
        <p>防水成都：惺惺惜惺惺</p>
        <h2>商品详情</h2>
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
    </div>
    <div class="button-section">
        <div class="button-card"></div>
        <div class="button-group">
            <div class="button-item"><span>加入购物车</span></div>
            <div class="button-item"><span>立即兑换</span></div>
        </div>
    </div>
    <div class="popup-wrap animated" id="elPopup" style="display: none">
        <div class="popup-inner fadeInUp animated">
            <div class="popup-content">
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
                <h2>尺寸选择</h2>
                <ul class="popup-options">
                    <li class="popup-active"><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                    <li><span>黑色13寸</span></li>
                </ul>
            </div>
            <div class="popup-button"><span>确定</span></div>
        </div>
    </div>

    <div class="menu-wrap" id="menu-view">
        <ul class="menu-inner fadeInDown animated">
            <li class="menu-item">
                <a class="menu-item-cell">
                    <i class="menu-home-icon"></i>
                    <span>菜单一</span>
                </a>
            </li>
            <li class="menu-item">
                <div class="menu-item-cell">
                    <span>菜单一</span>
                </div>
                <div class="menu-item-child">
                    <!--可以这样嵌a标签-->
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-cell">
                    <span>菜单一</span>
                </div>
                <div class="menu-item-child">
                    <!--可以这样嵌a标签-->
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-cell">
                    <span>菜单一</span>
                </div>
                <div class="menu-item-child">
                    <!--可以这样嵌a标签-->
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-cell">
                    <span>菜单一</span>
                </div>
                <div class="menu-item-child">
                    <!--可以这样嵌a标签-->
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-cell">
                    <span>菜单一</span>
                </div>
                <div class="menu-item-child">
                    <!--可以这样嵌a标签-->
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                    <a class="menu-item-cell">- 物料兑换</a>
                </div>
            </li>
        </ul>
    </div>
    <script src="assets/lib/jquery-1.8.1.min.js"></script>
    <script>
        $(function () {

            var popupController = (function ($) {
                var $el = $('#elPopup'),
                    show = function () {
                        $el.show();
                        $('body').css('overflow', 'hidden');
                    },
                    hide = function () {
                        $el.hide();
                        $('body').css('overflow', 'auto');
                    };
                $el.on('click', function () {
                    hide();
                }).on('click', '.popup-inner', function (e) {
                    e.stopPropagation();
                }).on('click', 'li', function () {
                    $(this).addClass('popup-active').siblings().removeClass('popup-active');
                }).on('click', '.popup-button', function () {
                    // 确认逻辑
                    hide();
                });
                return {
                    show: show,
                    hide: hide,
                }
            })($);

            $('.button-item').on('click', function () {
                popupController.show();
            });

            var MenuController = (function ($) {
                var $elButton = $('.menu-button'),
                    $elMenuView = $('#menu-view'),
                    show = function () {
                        $elMenuView.show();
                    },
                    hide = function () {
                        $elMenuView.hide();
                    };
                $elButton.on('click', show);
                $elMenuView.on('click', 'div.menu-item-cell', function () {
                    $(this).parent('.menu-item').toggleClass('active')
                        .siblings().removeClass('active')
                });
                return {
                    show: show,
                    hide: hide,
                }
            })($)
        });

    </script>
</body>
</html>

