<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>商品详情</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <img class="head" src="../../../assets/images/html/head-0524.jpg"/>
    <div class="banner-section">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
    </div>
    <div class="base-section">
        <h1>雷诺F1电脑包</h1>
        <div class="base-info">
            <div>
                <span class="color">1800</span>
                <span class="flex">积分</span>
                <span>150人已兑换</span>
            </div>
            <div>
                <span>数量</span>
                <div class="operate">
                    <i>-</i>
                    <span>1</span>
                    <i>+</i>
                </div>
                <span class="flex"></span>
                <span>剩余库存：22件</span>
            </div>
        </div>
    </div>
    <div class="details-section">
        <h2>商品参数</h2>
        <p>产品名称：惺惺惜惺惺</p>
        <p>尺寸：惺惺惜惺惺</p>
        <p>型号：惺惺惜惺惺</p>
        <p>重量：惺惺惜惺惺</p>
        <p>品牌：惺惺惜惺惺</p>
        <p>防水成都：惺惺惜惺惺</p>
        <h2>商品详情</h2>
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
        <img src="../../../assets/images/html/boss-banner-0524.jpg" alt="">
    </div>
    <div class="button-section">
        <div class="button-card"></div>
        <div class="button-group">
            <div class="button-item"><span>加入购物车</span></div>
            <div class="button-item"><span>立即兑换</span></div>
        </div>
    </div>
    <div class="pop-wrap">

    </div>
</body>
</html>

