<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>2019年度关键字</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <ul class="prompt">
                    <li class="fadeInUp animated">
                        <span>Hi </span>
                        <span>***</span>
                        <span>，</span>
                        <span>你的2018过的怎么样？</span>
                    </li>
                    <li class="flipInY animated">
                        <span>升了职？</span>
                        <span>加了薪？</span>
                        <span>瘦了身？</span>
                    </li>
                    <li class="flipInX animated">
                        <span>还是</span>
                    </li>
                    <li class="rubberBand animated">
                        <span>睡不够？</span>
                        <span>累成狗？</span>
                        <span>忙秃头？</span>
                    </li>
                    <li class="fadeInUp animated">
                        <span>2019会怎么对你？</span>
                    </li>
                    <li class="fadeInUp animated">
                        <span>预测你的年度关键字</span>
                    </li>
                    <li class="jackInTheBox animated">
                        <span>开启不一样的2019</span>
                    </li>
                </ul>
                <div class="next-button" id="next-button">
                    <i></i>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-section">
                    <img class="cards" src="../../assets/images/html/ai.png">
                    <img class="cards" src="../../assets/images/html/fa.png">
                    <img class="cards" src="../../assets/images/html/gang.png">
                    <img class="cards" src="../../assets/images/html/hao.png">
                    <img class="cards" src="../../assets/images/html/lang.png">
                    <img class="cards" src="../../assets/images/html/neng.png">
                    <img class="cards" src="../../assets/images/html/nuan.png">
                    <img class="cards" src="../../assets/images/html/shui.png">
                    <img class="cards" src="../../assets/images/html/shun.png">
                    <img class="cards" src="../../assets/images/html/sou.png">
                    <img class="cards" src="../../assets/images/html/zao.png">
                    <img class="cards" src="../../assets/images/html/zhi.png">
                </div>
                <div class="foot-section">
                    <div class="start-button tada animated infinite"></div>
                    <a href="javascript:;" class="rule-link">活动规则</a>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/lib/swiper.min.js"></script>
</body>
</html>

