@import "../../../../assets/scss/com20191211";

.select2-selection__arrow{
    display: none !important;
}
.select2-selection--single{
    border: none !important;
    height: f(150) !important;
    background-color: transparent !important;
}
.select2-selection__rendered{
    line-height: f(150) !important;
    font-size: f(44);
    color: #6a808d !important;
}
input::-webkit-input-placeholder {
    color: #6a808d;
}
html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}
html{
    background: url("../../../../assets/images/css/20191211-vm-b.jpg") repeat-y center;
}
.header-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    z-index: 1;
    img{
        @extend %w100;
        @extend %db;
        height: auto;
    }
    &:after{
        @extend %db;
        @extend %pa;
        left: f(-2);
        bottom: f(-183);
        content: '';
        background: url("../../../../assets/images/css/20191211-vm-r-i-1.png") repeat-y center;
        width: f(262);
        height: f(183);
        background-size: contain;
    }
}


.main-section{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    margin: f(150) auto 0;
    width: f(960);
    padding: f(100) 0 f(200);
    background: url("../../../../assets/images/css/20191211-vm-r-c.png") center repeat-y;
    background-size: 100% auto;
    &:before{
        @extend %pa;
        @extend %l0;
        top: f(-59);
        right: f(1);
        content: '';
        height: f(69);
        background: url("../../../../assets/images/css/20191211-vm-r-t.png") top center no-repeat;
        background-size: 100% auto;
        background-position: f(-0);
    }
    &:after{
        @extend %pa;
        @extend %l0;
        bottom: f(-60);
        right: f(1);
        content: '';
        height: f(69);
        background: url("../../../../assets/images/css/20191211-vm-r-b.png") bottom no-repeat;
        background-position: f(-4);
        background-size: 100% auto;
    }
}
.bar{
    width: f(800);
    height: 1px;
    background-color: #fff;
    margin: f(25) 0;
}
.form-child{
    width: f(800);
    margin-top: f(30);
    padding-top: f(30) !important;
    border-top: 1px solid #fff;
}
.form{
    @extend %w100;
    @extend %df;
    @extend %pr;
    @extend %oh;
    @extend %aic;
    @extend %fdc;
    padding-top: f(85);
    .form{
        background: none;
    }
}
.form-item{
    @extend %df;
    @extend %aic;
    margin-top: f(25);
    width: f(800);
    p{
        font-size: f(26);
        color: #e40521;
    }
    .null{
        width: j(30);
    }
    &.form-item-p{
        margin-top: f(20);
    }
    &.form-item-null{
        margin-top: 0;
    }
}
.form-item-box{
    height: f(150);
    border-radius: f(10);
}
.input-box{
    @extend %df1;
    height: f(150);
    border-radius: f(10);
    background-color: #f9f9f9;
    border: 1px #bfc6cd solid;
    select,
    input{
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        line-height: f(150);
        padding: 0 f(25);
        border: none;
        background-color: transparent;
        font-size: f(44);
        color: #6a808d;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }
    &.select{
        background: #f9f9f9 url('../../../../assets/images/css/20191211-vm-s-i.png') right center no-repeat;
        background-size: f(164) auto;
        select{
            padding-right: f(120);
        }
    }
}
.button-code{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    font-size: f(44);
    color: #fff;
    width: f(292);
    height: f(150);
    margin-left: f(30);
    border-radius: f(10);
    background-color: #8396a1;
}
.form-item-radio{
    @extend %df;
    @extend %aic;
    font-size: f(44);
    color: #545454;
}
.radio{
    @extend %df;
    @extend %cp;
    @extend %aic;
    margin-right: f(20);
    height: f(100);
    font-size: f(44);
    color: #545454;
    i{
        margin-right: f(10);
        width: f(46);
        height: f(50);
        border-radius: f(10);
        background-color: #6a808d;
    }
    &.active{
        i{
            background: url("../../../../assets/images/css/icon-select-0524.jpg") center no-repeat;
            background-size: contain;
        }
    }
}
.agreement{
    margin: f(50) 0;
    width: f(800);
}
.button{
    @extend %df;
    @extend %cp;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %fwb;
    font-size: f(56);
    width: f(800);
    height: f(150);
    border-radius: f(10);
    background-color: #059b4b;
}

.footer-section{
    @extend %w100;
    height: f(208);
    background: url("../../../../assets/images/css/20191211-vm-r-i-2.png") right center no-repeat;
    background-size: auto 100%;
    margin-bottom: f(200);
}
