@import "../../../assets/scss/common";

html,
body {
    @extend %pr;
    @extend %h100;
    @extend %w100;
}
body{
    @extend %fdc;
    @extend %df;
}
.head{
    @extend %db;
    @extend %w100;
    height: auto;
}
.user-section{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    height: j(198);
    padding-top: j(24);
    background-color: #e5e5e5;
}
.user-inner{
    @extend %pr;
    @extend %bsb;
    @extend %cfff;
    width: j(680);
    padding-top: j(30);
    padding-left: j(50);
    border-top-left-radius: j(12);
    border-top-right-radius: j(12);
    height: j(198);
    background-color: #018245;
    line-height: 1.5;
    .label{
        font-size: j(16);
        padding-left: j(10);
    }
    .link-group{
        @extend %df;
        @extend %aic;
    }
    .value{
        @extend %fwb;
        font-size: j(46);
        padding-left: j(10);
    }
    .link{
        @extend %cp;
        @extend %df;
        @extend %aic;
        color: #f2f2f2;
        font-size: j(14);
        margin-right: j(20);
        border-bottom: 1px solid #ddd;
        i{
            width: j(38);
            height: j(33);
            margin-right: j(10);
            background: url("../../../assets/images/css/v0929-icon.png") no-repeat;
            background-size: contain;
        }
    }
    .icon{
        @extend %pa;
        @extend %t0;
        right: j(65);
        width: j(145);
        height: j(213);
        background: url("../../../assets/images/css/v0627-xz.png") no-repeat;
        background-size: contain;
    }
}
.tab-section{
    @extend %df;
    @extend %aic;
    box-shadow: 0 j(3) j(3) j(3) rgba(0,0,0,.05);
    background-color: #fff;
    border-bottom-left-radius: j(20);
    border-bottom-right-radius: j(20);
}
.tab-item{
    @extend %pr;
    @extend %df1;
}
.tab-item-inner{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    height: j(60);
    color: #018245;
    font-size: j(30);
    i{
        width: j(39);
        height: j(20);
        background: url("../../../assets/images/css/v0627-arrow.png") no-repeat;
        background-size: contain;
        margin-left: j(5);
    }
}
.tab-select{
    @extend %pa;
    left: j(20);
    right: j(20);
    top: j(70);
    background-color: #fff;
    border-radius: j(12);
    padding: j(10);
    box-shadow: 0 j(3) j(3) j(3) rgba(0,0,0,.1);
    color: #000;
    li{
        @extend %cp;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        font-size: j(24);
        height: j(60);
        border-bottom: 1px solid #ddd;
        &:last-child{
            border-bottom: none;
        }
    }
    .color{
        color: #018245;
    }
}
.container{
    @extend %df1;
    @extend %w100;
    overflow-y: auto;
    margin-top: j(10);
}
.list{
    @extend %df;
    @extend %jcs;
    @extend %fww;
    padding: 0 j(35);
    padding-top: j(20);
}
.item{
    margin-bottom: j(30);
    width: j(320);
    box-shadow: 0 j(5) j(5) j(3) rgba(0,0,0,.1);
    background-color: #f3f3f3;
    border-radius: j(12);
    .name{
        @extend %fwn;
        @extend %toe;
        font-size: j(28);
        color: #000;
        margin: 0 j(20);
        height: j(60);
        line-height: j(60);
    }
}
.image{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    @extend %oh;
    background-color: #fff;
    height: j(250);
    border-top-left-radius: j(12);
    border-top-right-radius: j(12);
    img{
        @extend %h100;
        width: auto;
    }
}
.info{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    padding: 0 j(20) j(20);
    line-height: 1.3;
    font-size: j(18);
    p{
        span{
            color: #018245;
        }
    }
    .number{
        @extend %df1;
        @extend %oh;
    }
}
.item-button{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    font-size: j(32);
    height: j(50);
    line-height: j(50);
    width: j(120);
    background-color: #018245;
    border-radius: j(25);
}
.button-group{
    @extend %df;
    @extend %aic;
    background-color: #fff;
    box-shadow: 0 j(-3) j(3) j(3) rgba(0,0,0,.05);
}
.button-section{
    @extend %df;
    @extend %df1;
    @extend %pr;
    @extend %aic;
    @extend %w100;
    @extend %jcc;
    height: j(102);
}
.button-item{
    @extend %cp;
    @extend %pr;
    width: j(74);
    height: j(85);
    background: url("../../../assets/images/css/v0627-card.png") no-repeat;
    background-size: contain;
    span{
        @extend %pa;
        @extend %r0;
        @extend %df;
        @extend %aic;
        @extend %bsb;
        @extend %cfff;
        @extend %jcc;
        top: j(-6);
        right: j(-20);
        min-width: j(52);
        font-size: j(14);
        border: 1px solid #fff;
        background-color: #018245;
        height: j(24);
        padding: 0 j(5);
        border-radius: j(12);
    }
    .color-1{
        background-color: #ff2121;
    }
}
.button-order{
    .button-item{
        width: j(79);
        height: j(82);
        background: url("../../../assets/images/css/v0627-order.png") no-repeat;
        background-size: contain;
    }
}


.popup-wrap{
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %b0;
    @extend %r0;
    @extend %w100;
    @extend %h100;
    overflow-y: auto;
    z-index: 9;
    background-color: rgba(0,0,0,.3);
}
.popup-inner{
    @extend %pr;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %bsb;
    @extend %c9;
    padding: f(50) 0;
    width: f(954);
    height: 70%;
    max-height: f(1885);
    background: #fff url("~assets/images/css/20191211-popup-bg.jpg") no-repeat;
    background-size: 100% auto;
    margin: f(300) auto;
}
.popup-title{
    @extend %fwn;
    color: #828e99;
    line-height: 1.5;
    font-size: f(56);
}
.popup-content{
    @extend %df1;
    color: #828e99;
    margin-top: f(40);
    line-height: 1.5;
    overflow-y: auto;
    font-size: f(36);
    dl{
        padding: 0 f(60);
    }
    dt{
        @extend %fwb;
        margin: f(20) 0;
        color: #059b4b;
    }
    dd{
        margin: f(20) 0;
    }
    .popup-color-red{
        color: red;
    }
    .popup-type{
        @extend %dib;
        @extend %bsb;
        height: f(66);
        line-height: f(66);
        padding: 0 f(25);
        border-radius: f(33);
        border: 1px solid #999;
    }
}
.popup-close{
    @extend %pa;
    @extend %cp;
    @extend %l50;
    margin-left: f(-50);
    bottom: f(-160);
    width: f(100);
    height: f(100);
    background: url("~assets/images/css/20191211-close-icon.png") no-repeat;
    background-size: contain;
}
.popup-content1{
    margin-top: 0;
    img{
        @extend %db;
        @extend %ma;
        width: f(755);
        height: auto;
    }
    dl{
        dd{
            font-size: f(35);
        }
    }
    strong{
        @extend %fwb;
    }
}
.popup-type-mt{
    margin-top: f(20);
}
.popup-dd{
    line-height: 1.8;
    span{
        color: #c8434d;
    }
    border-bottom: 1px solid #ddd;
}
