@import "../../../../assets/scss/com20191211";

html,
body {
    @extend %pr;
    @extend %w100;
    min-height: 100%;
}

html{
    background: url("../../../../assets/images/css/20191211-vm-b.jpg") repeat-y center;
}

.header-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %oh;
    height: f(320);
    padding: 0 f(60);
    background-color: #dedede;
    &:after{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        content: '';
        width: f(183);
        height: f(73);
        background: url("../../../../assets/images/css/20191211-sa-he-1.png") center no-repeat;
        background-size: contain;
    }
}
.header-avatar{
    @extend %bsb;
    margin-top: f(20);
    width: f(160);
    height: f(160);
    border: 1px #999 solid;
    border-radius: 50%;
    margin-right: f(30);
}
.header-content{
    @extend %df1;
    @extend %c3;
    h2{
        font-size: f(42);
    }
    p{
        font-size: f(36);
    }
}
.header-action{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
}
.header-logo{
    margin-top: f(20);
    height: f(150);
    width: auto;
}
.header-link{
    @extend %cp;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    width: f(225);
    height: f(65);
    background: url("../../../../assets/images/css/20191211-mtc-link.png") center no-repeat;
    background-size: contain;
}


.notice-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    margin: f(20) auto 0;
    width: f(1055);
    height: f(100);
}
.notice-icon{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-right: f(50);
    i{
        width: f(75);
        height: f(79);
        background: url("../../../../assets/images/css/20191211-mtc-tz.png") center no-repeat;
        background-size: contain;
    }
    span{
        @extend %pa;
        @extend %cfff;
        top: f(10);
        left: f(40);
        padding: 0 f(5);
        border-radius: f(15);
        height: f(30);
        background-color: red;
        font-size: f(28);
        line-height: f(40);
        border: 1px #fff solid;
    }
}
.notice-content{
    p{
        @extend %cfff;
        font-size: f(36);
    }
}

.banner-section{
    margin: f(20) auto;
    width: f(1055);
    img{
        @extend %w100;
        @extend %db;
        height: auto;
    }
}
