<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>TSM 首页</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="header"></div>
    <div class="section">
        <div class="user">
            <div class="avatar">
                <img src="" alt="">
            </div>
            <div class="info">
                <span class="name"></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <a href="javascript:;" class="link"></a>
    </div>
</body>
</html>

