<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>首页-门店</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <img class="head" src="../../assets/images/html/head-0524.jpg"/>
    <div class="session first">
        <div class="user">
            <div class="avatar">
                <img src="../../assets/images/html/boss-banner-0524.jpg" alt="">
            </div>
            <div class="info">
                <p class="name">Jerry</p>
                <p>xx门店</p>
                <p>122222222222</p>
            </div>
        </div>
        <div class="other">
            <div class="null"></div>
            <a href="javascript:;" class="link">修改信息</a>
        </div>
    </div>
    <div class="button-group second">
        <div class="button-link">
            <i></i>
            <span>金牌销售秘籍</span>
        </div>
        <div class="null"></div>
        <div class="button-link">
            <i></i>
            <span>金牌销售秘籍</span>
        </div>
    </div>
    <div class="tab">
        <div class="tab-item active">全国门店信息统计</div>
        <div class="tab-item">区域门店信息明细</div>
    </div>
    <div class="container">
        <div class="content">
            <div class="filter">
                <div class="filter-item">
                    <select>
                        <option>DBM筛选</option>
                    </select>
                </div>
                <div class="filter-item">
                    <select>
                        <option>DSR筛选</option>
                    </select>
                </div>
            </div>
            <div class="list">
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
                <ul class="item">
                    <li>
                        <p>
                            <span>省市:XX</span>
                        </p>
                        <p>
                            <span>门店名称:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店积分:XX</span>
                        </p>
                        <p>
                            <span>门店即将过期积分:XX</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>门店星级:</span>
                            <i></i>
                            <i></i>
                            <i></i>
                        </p>
                        <p>
                            <span>DBM姓名:XX</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content hidden">
            <div class="table">
                <div class="tr">
                    <span class="td-1">区域</span>
                    <span class="td">华东</span>
                    <span class="td">华西</span>
                    <span class="td">华南</span>
                    <span class="td">华北</span>
                    <span class="td">华中</span>
                    <span class="td">东北</span>
                </div>
                <div class="tr">
                    <span class="td-1">总门店数量</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
                <div class="tr">
                    <span class="td-1">已激活门店</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
                <div class="tr">
                    <span class="td-1">未激活门店</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
                <div class="tr">
                    <span class="td-1">星级门店数量</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
                <div class="tr">
                    <span class="td-1">区域总积分</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
                <div class="tr">
                    <span class="td-1">即将到期积分</span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                    <span class="td"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/lib/jquery-1.8.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(function () {

            $("select").select2();

            var $elTab = $('.tab-item'),
                $elCon = $('.content'),
                elTab = Array.prototype.slice.apply($elTab);
            $elTab.on('click', function () {
                var index = elTab.indexOf(this);
                $elTab.removeClass('active').eq(index).addClass('active');
                $elCon.addClass('hidden').eq(index).removeClass('hidden');
            })
        })
    </script>
</body>
</html>

